@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Variable.woff2') format('woff2'),
        url('./fonts/ClashDisplay-Variable.woff') format('woff'),
        url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --f-heading: clamp(40px, 6vw, 55px);
    --lightness: 80%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Inter', "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
li,
textarea,
button {
    letter-spacing: -0.04em;
}

h1 {
    font-size: var(--f-heading);
    font-weight: 500;
    margin: 0;
    font-family: "ClashDisplay", "Helvetica Neue", Helvetica, sans-serif;
    background-clip: text;
    background-size: 300%;
}

#name {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

.desc {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.social {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.social:hover {
    color: #007aff;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    padding: 20px 20px;
    text-align: center;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
supported by Chrome, Edge, Opera and Firefox */

    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    z-index: 1;
}

img {
    border-radius: 15px;
    width: 100%;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #464646;
    margin-top: 15px;
}

.newbie,
#newbie {
    background: hsla(230, 100%, var(--lightness));
}

.newbie:hover {
    box-shadow: 0px 10px 40px rgba(153, 170, 255, 0.4);
}

.junior,
#junior {
    background: hsl(147, 100%, var(--lightness));
}

.junior:hover {
    box-shadow: 0px 10px 40px rgba(153, 255, 199, 0.4);
}

.intermediate,
#intermediate {
    background: hsl(40, 100%, var(--lightness));
}

.intermediate:hover {
    box-shadow: 0px 10px 40px rgba(255, 221, 153, 0.4);
}

.advanced,
#advanced {
    background: hsl(17, 100%, var(--lightness));
}

.advanced:hover {
    box-shadow: 0px 10px 40px rgba(255, 182, 153, 0.4);
}

.guru,
#guru {
    background: hsl(0, 100%, var(--lightness));
}

.guru:hover {
    box-shadow: 0px 10px 40px rgba(255, 153, 153, 0.4);
}

#legend {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
}

.legend-item {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    border: none;
}

.legend-item:hover {
    --lightness: 70%;
    cursor: pointer;
    transform: translateY(-2px);
}

#clear {
    color: #007aff;
}

.card {
    animation-duration: 0.8s;
}