@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&family=Lexend+Deca:wght@300&display=swap');

:root {
    --c-bright-orange: hsl(31, 77%, 52%);
    --c-dark-cyan: hsl(184, 100%, 84%);
    --c-very-dark-cyan: hsl(179, 100%, 13%);
    --c-trans-white-main-p: hsla(0, 0%, 100%, 0.75);
    --c-trans-white-bg-h-b: hsl(0, 0%, 95%);
    --f: 15px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

.two * {
    animation-delay: 300ms;
}

.three * {
    animation-delay: 700ms;
}